.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 171px;
  max-width: 1000px;
}

.repoListContainer {
  height: 873px;
  overflow-y: scroll;
}

.repoCard {
  height: 100px;
  &:nth-child(even) {
    background-color: #f9f9f9;
  }
}
