.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 85px;
  max-width: 1000px;
}

.search {
  display: flex;
  border-bottom: 5px solid #e0e0e0;
}

.repoListContainer {
  padding-top: 40px;
}
