@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600");

.app {
  height: 100vh;
}

.content {
  display: flex;
  padding-top: 80px;
}

.navBar {
  display: flex;
  flex-direction: column;
  padding-left: 153px;
  padding-top: 100px;
}

.navLinkAnchor {
  text-decoration: none;
  margin-bottom: 20px;
  border-bottom: 3px solid transparent;

  &:visited {
    color: grey;
  }
}

.navLink {
  padding-bottom: 5px;
  display: flex;
}

.navLinkLabel {
  margin-left: 18px;
}

.activeNavLink {
  border-bottom: 3px solid #30cbe4;
}

.mainContent {
  flex-grow: 1;
  width: 100%;
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
