.input {
  outline: none;
  border: none;
  font-size: 72px;
  font-weight: 900;
  font-family: inherit;
  padding-left: 19px;
  padding-bottom: 5px;
  min-width: 0;
  background-color: rgba(0, 0, 0, 0);

  &::-webkit-input-placeholder {
    color: #e0e0e0;
  }
}
