.input {
  outline: none;
  border: none;
  font-size: 72px;
  font-weight: 900;
  font-family: inherit;
  padding-left: 32px;
  min-width: 0;

  &::-webkit-input-placeholder {
    color: #e0e0e0;
  }
}
