@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #dadada;
  }
  40% {
    box-shadow: 0 0 6px 4px #dadada;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exitButton {
  position: absolute;
  right: -9px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  border-radius: 50%;
  top: -9px;

  &:hover {
    cursor: pointer;
  }

  & > svg {
    font-size: 26px;
  }
}

.prCard {
  height: 70px;
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  padding: 30px 16px;
}

.stateFilter {
  margin-right: 10px;
  padding-bottom: 3px;

  &:hover {
    cursor: pointer;
  }
}

.activeStateFilter {
  border-bottom: 2px solid;
}

.prTitle {
  font-size: 18px;
  text-overflow: ellipsis;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  max-width: 470px;
}

.prList {
  overflow-y: auto;
  padding-top: 30px;
  height: 550px;
  padding: 0 16px;
}

.prModal {
  width: 600px;
  height: 787px;
}

.repoName {
  font-size: 56px;
  font-weight: 700;
  padding: 0 16px;
}

.userInfo {
  display: flex;
  font-size: 14px;

  & > span {
    padding-left: 5px;
  }

  & > svg {
    font-size: 22px !important;
  }
}

.rightSide {
  flex-grow: 1;
}

.praiseButtonContainer {
  display: flex;
  align-items: center;
}

.clicked {
  background-color: #fff !important;
  color: #fff !important;
  border: 2px solid #bbb !important;
  border-left-color: #46bd85 !important;
  animation: rotate 1s linear infinite;
}

.praiseButton {
  outline: none;
  display: flex;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid #46bd85;
  border-radius: 50%;
  font-size: 16px;
  color: #46bd85;
  transition: background-color 0.25s ease;

  &:hover {
    cursor: pointer;
    background-color: #46bd85;
    color: #fff;
    // animation: pulse 3s infinite;
  }
}

.favoriteIcon {
  margin: auto;
}

.praiseCount {
  font-size: 14px;
  color: #bbb;
  padding-right: 10px;
}
