$header-height: 85px;

.header {
  height: $header-height;
  border-bottom: 1px solid #f3f3f3;
}

.headerContent {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.hamburger {
  height: 15px;
  padding-left: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }

  .top {
    height: 3px;
    width: 15px;
    background-color: #467ebd;
    border-radius: 2px;
  }

  .middle {
    height: 3px;
    width: 21px;
    background-color: #467ebd;
    border-radius: 2px;
  }

  .bottom {
    height: 3px;
    width: 15px;
    background-color: #467ebd;
    border-radius: 2px;
  }
}
