$header-height: 85px;

.header {
  height: $header-height;
  border-bottom: 1px solid #f3f3f3;
}

.headerContent {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  justify-content: flex-end;
  border-bottom: 1px solid #e2e2e2;
}

.hamburger {
  height: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  transition: height 0.1s ease-in;

  &:hover {
    cursor: pointer;
    height: 22px;
  }

  .top {
    height: 3px;
    width: 15px;
    background-color: #467ebd;
    border-radius: 2px;
  }

  .middle {
    height: 3px;
    width: 21px;
    background-color: #467ebd;
    border-radius: 2px;
  }

  .bottom {
    height: 3px;
    width: 15px;
    background-color: #467ebd;
    border-radius: 2px;
  }
}

.authenticatedActions {
  display: flex;
  align-items: center;
}

.authenticationButton {
  outline: none;
  border: 2px solid #467ebd;
  background-color: #fff;
  height: 35px;
  color: #467ebd;
  font-size: 16px;
  font-family: "Oswald";
  transition: all 0.2s ease;
  width: 100px;

  &:hover {
    background-color: #467ebd;
    color: #fff;
    cursor: pointer;
  }
}

.loginButton {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.logoutButton {
  border-radius: 35px;
}

.registerButton {
  margin-left: 2px;

  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
