.balanceDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: 600;
}

.personIcon {
  font-size: 60px !important;
}

.userInfo {
  padding-bottom: 10px;
}

.timelineContainer {
  width: 65%;
  display: flex;
  align-items: center;
}

.timelineTooltip {
  width: 100px;
  height: 20px;
  border-radius: 3px;
  box-shadow: 0 0 4px 2px rgba(236, 236, 236, 0.8);
  background-color: #fff;
}
