.searchIcon {
  height: 57px;
  width: 57px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #a7a7a7;

  &:before {
    content: "";
    width: 29px;
    height: 9px;
    border-radius: 4px;
    position: absolute;
    background-color: #a7a7a7;
    transform: rotate(45deg) translate(70px, 7px);
  }
}

.searchIconSmall {
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #a7a7a7;

  &:before {
    content: "";
    width: 10px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #a7a7a7;
    transform: rotate(45deg) translate(18px, 1px);
  }
}
