.repoCard {
  min-height: 168px;
  width: 325px;
  padding: 8px 30px;
  margin-bottom: 57px;
  margin-right: 57px;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 11px 7px #ececec;
  background-color: #fff;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;

    .repoIcon {
      left: calc(50% - 36px);
    }
  }
}

.repoOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  transition: opacity ease-in 0.2s;

  &:hover {
    opacity: 0.96;
  }
}

.repoIcon {
  height: 74px;
  margin-right: 28px;
  left: -37px;
  z-index: 1;
  position: absolute;
  transform: translateX(0%);
  transition: left ease-in 0.2s;

  & > img {
    height: 100%;
    box-shadow: 0 0 6px 4px #d6d6d6;
    background-color: #fff;
    border-radius: 50%;
  }
}

.repoDetails {
  flex-grow: 1;
  padding: 0 30px;
  margin-left: 31px;
  border-left: 1px solid #ececec;
}

.repoName {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 13px;
  color: #467ebd;
  font-family: "Oswald";
}

.repoDescription {
  font-size: 14px;
  margin: 0;
}

.repoTag {
  background-color: white;
  padding: 6px 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 10px;

  &:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 14px 0;
  }
}
