.repoCard {
  min-height: 47px;
  padding: 7px;
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.repoIcon {
  height: 45px;
  width: 45px;
  border-radius: 50%;

  & > img {
    height: 100%;
  }
}

.repoDetails {
  flex-grow: 1;
  padding: 0 30px;
}

.repoName {
  font-size: 18px;
  font-weight: 600;
}

.repoDescription {
  font-size: 14px;
  margin: 0;
}

.repoTag {
  background-color: white;
  padding: 6px 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 10px;

  &:before {
    // content: "";
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 14px 0;
  }
}
