@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.repoCardWrapper {
  position: relative;
  margin: 22px 0;
}

.repoCardContainer {
  height: 206px;
  width: 277px;
  box-shadow: 0 0 11px 7px #ececec;
  background-color: #fff;
  position: relative;
  transition: all 0.2s ease;
  border-left: 4px solid transparent;

  &:hover {
    border-left: 4px solid;
    cursor: pointer;
  }
}

.repoCard {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  padding: 0px 22px;
}

.repoDetails {
  padding: 8px 0px 24px 0px;
  border-top: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.repoMetaData {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.dividerPoint {
  margin: 0 10px;
}

.metaDataGroup {
  display: flex;

  & > svg {
    margin-right: 4px;
  }
}

.prTotal {
  height: 148px;
  width: 120px;
  display: flex;
  align-items: center;
  border: rgb(70, 189, 133);
  color: rgb(70, 189, 133);

  & > span {
    margin: auto;
    font-weight: 600;
    font-size: 44px;
  }
}

.repoHeaderInfo {
  display: flex;
  align-items: center;
}

.repoName {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
  color: #467ebd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.repoDescription {
  font-size: 14px !important;
  width: 191px;
  font-weight: normal;
  margin: 0;
}

.repoActions {
  position: absolute;
  top: calc(50% - 25px);
  right: -33px;
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.repoActionContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.repoAction {
  outline: none;
  display: flex;
  text-align: center;
  border-radius: 50%;
  margin-left: 5px;
  transition: background-color 0.25s ease;
  transition: all 0.2s ease-in;
  margin-right: 8px;

  &:hover {
    cursor: pointer;
  }
}

.praiseCount {
  color: #46bd85;
}

.praiseButton {
  width: 50px;
  height: 50px;
  border: 2px solid #46bd85;
  font-size: 16px;
  color: #46bd85;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: #46bd85;
    color: #fff;
  }
}

.clicked {
  background-color: #fff !important;
  color: #fff !important;
  border: 2px solid #bbb !important;
  border-left-color: #46bd85 !important;
  animation: rotate 1s linear infinite;
}

.favoriteIcon {
  margin: auto;
}
