.searchIcon {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #a7a7a7;
  margin-top: 19px;

  &:before {
    content: "";
    width: 10px;
    height: 7px;
    border-radius: 4px;
    position: absolute;
    background-color: #a7a7a7;
    transform: rotate(45deg) translate(39px, 0px);
  }
}

.searchIconSmall {
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #a7a7a7;

  &:before {
    content: "";
    width: 10px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #a7a7a7;
    transform: rotate(45deg) translate(18px, 1px);
  }
}
