.registerModal {
  min-width: 300px;
  padding: 0;
}

.contentContainer {
  min-height: 504px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.tabs {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

.tab {
  border-bottom: 0;
  background-color: #fff;
  width: 100%;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.tabLabel {
  margin: auto;
  color: #457dbd;
  font-weight: 600;
}

.loginTab {
  border-top-right-radius: 4px;
  position: relative;
}

.exitButton {
  position: absolute;
  right: -8px;
  background-color: #457dbd;
  color: #d1dfef;
  display: flex;
  border-radius: 50%;
  top: -8px;
}

.registerTab {
  border-top-left-radius: 4px;
}

.activeTab {
  background-color: rgba(70, 126, 189, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 60px 75px 30px;
}

.inputContainer {
  display: flex;
}

.input {
  outline: none;
  border: none;
  font-size: 14px;
  border-bottom: 2px solid;
  font-family: inherit;
  padding-bottom: 5px;
  margin-bottom: 38px;
  margin-left: -23px;
  min-width: 0;
  background-color: transparent;
  padding-left: 30px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: #e0e0e0;
  }
}

.githubAuthButton {
  outline: none;
  border: none;
  width: 100%;
  background-color: #46bd85;
  height: 39px;
  border-radius: 35px;
  color: #fff;
  font-size: 16px;
  font-family: "Oswald";

  &:hover {
    cursor: pointer;
  }
}

.closeButton {
  outline: none;
  border: none;
  width: 100%;
  background-color: rgba(70, 126, 189, 0.25);
  height: 39px;
  border-radius: 35px;
  color: #467ebd;
  font-size: 16px;
  font-family: "Oswald";

  &:hover {
    cursor: pointer;
  }
}

.modalActions {
  text-align: center;
}
