.registerModal {
  min-width: 300px;
  padding: 0;
}

.contentContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 23px 39px 30px;
  align-items: center;
}

.tabs {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

.tab {
  border-bottom: 0;
  background-color: #fff;
  width: 100%;
  display: flex;
}

.tabLabel {
  margin: auto;
  color: #457dbd;
  font-weight: 600;
}

.exitButton {
  position: absolute;
  right: -9px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  border-radius: 50%;
  top: -9px;

  &:hover {
    cursor: pointer;
  }

  & > svg {
    font-size: 26px;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 33px;
}

.divider {
  margin: 32px 0;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > span {
    padding: 0 13px;
  }
}

.dividerSide {
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubAuthButton {
  outline: none;
  border: none;
  width: 47%;
  border: 2px solid #46bd85;
  color: #46bd85;
  border-radius: 35px;
  font-size: 16px;
  height: 35px;
  font-family: "Oswald";
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    color: #fff;
    background-color: #46bd85;
    cursor: pointer;
  }
}

.registerTab {
  border-top-right-radius: 4px;
}

.activeTab {
  background-color: rgba(70, 126, 189, 0.25);
}
