.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebecee;
  opacity: 0.9;
  display: flex;
}

.modalContainer {
  position: relative;
  padding: 35px 60px;
  min-width: 800px;
  max-height: 500px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 4px 2px #ded5d5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalContent {
  overflow-y: scroll;
  width: 430px;
  margin: auto;
}

.closeButton {
  outline: none;
  width: 100px;
  border: 1px solid #467ebd;
  background-color: #467ebd;
  height: 39px;
  border-radius: 35px;
  color: #fff;
  font-size: 16px;
  font-family: "Oswald";

  &:hover {
    cursor: pointer;
  }
}

.modalActions {
  text-align: center;
  padding: 30px;
}
