$drawer-width: 340px;

.drawer {
  position: fixed;
  width: $drawer-width;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  transition: right 0.2s ease;
}

.drawerHidden {
  right: -$drawer-width;
}

.drawerVisible {
  right: 0;
  box-shadow: -4px 0px 3px 0px #eaeaea;
}
